In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.27-1commercial-cp38-cp38-win_amd64.whl (7.7 MB)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\farhi\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.1)
Requirement already satisfied: six>=1.9 in c:\users\farhi\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.27
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\farhi\anaconda3\python.exe -m pip install --upgrade pip' command.

In [2]:
# 2. Import Python Libraries

import mysql.connector as sql
import pandas as pd

In [21]:
df2=pd.read_csv('C:/Users/farhi/Documents/mysql.txt', sep=',')

mydb1=sql.connect(host='localhost',user='root',password=df2.iat[0,0], db='ap')

In [25]:
# read a simple query into DataFrame
df=pd.read_sql_query("SELECT * FROM data_1202.vgsales_2016", conn)
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76,51,8,322,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,,,,,,
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82,73,8.3,709,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80,73,8,192,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16445,Samurai Warriors: Sanada Maru,PS3,2016,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,,,,,,
16446,LMA Manager 2007,X360,2006,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,,,,,,
16447,Haitaka no Psychedelica,PSV,2016,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,,,,,,
16448,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,,,,,,
16449,Winning Post 8 2016,PSV,2016,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,,,,,,

In [26]:
# print DataFrame and shaw the first 10 raws
print(df.head())

                       Name Platform  Year_of_Release         Genre Publisher  \
0                Wii Sports      Wii             2006        Sports  Nintendo
1         Super Mario Bros.      NES             1985      Platform  Nintendo
2            Mario Kart Wii      Wii             2008        Racing  Nintendo
3         Wii Sports Resort      Wii             2009        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB             1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales Critic_Score  \
0     41.36     28.96      3.77         8.45         82.53           76
1     29.08      3.58      6.81         0.77         40.24
2     15.68     12.76      3.79         3.29         35.52           82
3     15.61     10.93      3.28         2.95         32.77           80
4     11.27      8.89     10.22         1.00         31.37

  Critic_Count User_Score User_Count Developer Rating
0           51          8        322  Nintendo      E
1
2           73        8.3        709  Nintendo      E
3           73          8        192  Nintendo      E
4

In [27]:
#What types of columns we have in this data frame?
df.dtypes

Name                object
Platform            object
Year_of_Release      int64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score        object
Critic_Count        object
User_Score          object
User_Count          object
Developer           object
Rating              object
dtype: object

In [38]:
# read a complex query into DataFrame
complex_df = pd.read_sql('''SELECT q1.Pre_2005, q2.Post_2005,(case
WHEN q1.Pre_2005 < q2.Post_2005 THEN "Average of global sales higher after 2005"
ELSE "Average of global sales higher before 2005"
END) Result
FROM(
SELECT avg(Global_sales) as Pre_2005 FROM data_1202.`vgsales_2016` where Year_of_Release < 2005) q1, 
(SELECT avg(Global_sales) as Post_2005 FROM data_1202.`vgsales_2016` where Year_of_Release > 2005) q2;''', conn)

In [39]:
print(complex_df)

   Pre_2005  Post_2005                                      Result
0  0.650039   0.483673  Average of global sales higher before 2005